:root {
    --navy: #062b63;
    --blue: #1E88E5;
    --blue-light: #8fc9ff;    
    /* untuk hover */
    --bg: #F4F7FB;
    --white : #FFFFFF;
    --gray-text: #cbcdce;
    --text-dark: #1F2937;
}
body {
    background-color: var(--bg);
    color: var(--text-dark);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.navbar{
    background-color: var(--white);
    border-bottom: 2px solid var(--navy);
    padding: 8px 0;
}
.navbar-brand {
    color: var(--blue);
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}
.navbar-brand img{
    width: 45px;
    height: 45px;
    object-fit: contain;
}
.nav-link {
    color: var(--navy);
    font-weight: 500;
    transition: 0.3s;
}
.nav-link:hover {
    color: var(--blue);
    transform: translateY(-1px);
}
.btn-daftar{
    background-color: var(--blue);
    color: var(--white);
    border-radius: 8px;
    font-weight: 600;
    transition: 0.3s;
    padding: 8px 8px;
}
.btn-daftar:hover {
    background-color: var(--navy);
    color: var(--white);
}
.card-kategori{
    transition: transform 0.3s ease, shadow 0.3s ease;
    cursor: pointer;
}
.card-kategori:hover { transform: translateY(-10px); }
/* Filter Buttons */
.btn-filter {
    border-radius: 20px;
    padding: 8px 20px;
    font-weight: 500;
    transition: 0.3s;
    border: 1px solid var(--gray-text);
    background-color: var(--white);
    color: var(--text-dark);
    text-decoration: none;
}
.btn-filter.active {
    background-color: var(--blue);
    color: var(--white);
}
.btn-filter:hover:not(.active) {
    background-color: var(--blue-light);
    color: var(--navy);
}
/* --- Halaman auth (login & register) --- */
.auth-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg); 
}
.login-card {
    max-width: 400px;
    width: 100%;
    border-radius: 15px;
    background-color: var(--white);
    padding: 2rem;
}
.btn-auth {
    background-color: var(--blue);
    color: var(--white);
    font-weight: bold;
    border-radius: 8px;
    transition: 0.3s;
}
.btn-auth:hover {
    background-color: var(--navy);
    color: var(--white);
}
